<footer>
    {{ if .Site.Menus.footer }}

    <div class="layui-container">
        <div class="layui-row">
            <h3>Liens utiles</h3>
        </div>

        <hr>

        <div class="layui-row">
            {{ range sort .Site.Menus.footer }}
            <div class="layui-col-md4 layui-col-sm6 layui-col-xs12">
                <a href="{{ .URL }}"><p class="footer-url">{{ .Name }}</p></a>
            </div>
            {{end}}
        </div>
    </div>
    {{end}}
    
    <div class="layui-container">
        <p class="copyright">{{ .Site.Params.copyright | default "&copy; Tous droits réservés." | safeHTML }}</p>
    </div>
</footer>
